env/
__pycache__/
.pyc
*.swp
*stresstest
*stresstest*
.DS_Store

.env

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

assets/photos-483900492049403949939392010/*.png
tmp/generated-653edbcb08e565a11593e0860d65c9bb/report/excel/*.xlsx
